
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* GOOGLE FONTS  */



:root{

    --background-c: hsl(210, 100%, 97%);
    --text-c: hsl(0, 0%, 13%);
    --nav-c: hsl(0, 0%, 100%);
    --nav-sha-c: hsl(0, 0%, 89%);
    --nav-inp-c: hsl(210, 15%, 87%);
    --text: black;
    --lside-content: hsl(220, 100%, 99%);
    --subheadings : hsl(0, 0%, 34%);
    --headings : hsl(0, 0%, 15%);
    --hover-bc:hsl(0, 0%, 85%);
}
html{
    scroll-behavior: smooth;
    transition: all 1000ms ease-in-out;
}
* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 0%;
    box-sizing: border-box;
    scrollbar-width: thin;
}
i{
    color: var(--text);
}
body{
    background-color: var(--background-c);
    color: var(--text-c);
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--text-c);
}
i{
    width: 100px;
    height: 100px;
}
li{
    list-style: none;
}
/* GENDRAL STYLES */
.profile_img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--text-c);
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
      transition: all 500ms ease;
    background-color: var(--nav-c);
    padding: 6px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 5px 20px var(--nav-sha-c);
   
}
.nav ul {
    display: flex;
    flex: 1 1 auto;
}
.nav ul a {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 5px 8px;
    padding: 10px 10px 10px 11px;
    gap: 7px;
    position: relative;
    transition: all 400ms ease-in-out;
   
    
}
.navbar-1 a{
    display: flex;
    align-items: center;
    gap: 10%;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 35px;
    transition: 400ms all ease-in-out;
    
}
.navbar-1 a:hover{
    background-color: hsl(0, 0%, 87%);
    padding: 10px 35px 10px 20px;
    transition: 400ms all ease-in-out;
    border-radius: 15px;
}
.online{
    position: relative;
}
 .online::after{
    content: " ";
    width: 7px;
    height: 7px;
    border: 2px solid white;
    background-color: hsl(106, 67%, 60%);
    border-radius: 50%;
    right: 0px;
    top: 0px;
    position: absolute;
    transition: all 400ms ease-in-out;
    
}

@keyframes sub-m-ani {
    0%{
        transform: scaleY(0);
        box-shadow: none;
    }
    100%{
        transform: scaleY(1);
        box-shadow: rgba(0, 0, 0, 0.425) 0px 0px 800px;
    }
}
@keyframes sub-m-ani-r {
    0%{
        transform: scaleY(1);
        box-shadow: rgba(0, 0, 0, 0.425) 0px 0px 800px;
    }
    100%{
        transform: scaleY(0);
        box-shadow: none;
    }
}
.sub-menu{
    display: none;

    width: 250px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 1000;
    left: -215px;
    bottom: -300px;
    
    border-radius: 10px;

    .sub-profile{
        width: 100%;
        height: 23%;
        display: flex;
        padding: 10px;
        background-color: #b6121200;
        border-bottom: #201f29 solid 1px;
        
        img{
            height: 100%;
            border-radius: 50%;
        }
        .sub-text{
            background-color: #5c5c5c00;
            margin: auto;
            text-align: left;
            #sub-name{
                font-size: 19px;
            }
            p{
                font-size: 15px;
            }
        }
    }

    .sub-links{
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1%;
        padding: 10px 20px 0px 20px ;
        flex-direction: column;
        a{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            transition: all 500ms ease;
            border-radius: 20px;
            font-size: 20px;
            height: 33%;
            width: 100%;
            cursor: pointer;

            i{
                display: flex;
                align-items: center;
            }
        }
        a:hover{
            background-color: #5c5c5c42;
        }
    }
}
.nav ul a:hover{
    background-color: hsl(208, 100%, 89%);
    padding: 10px 10px 10px 10px;
    transition: all 400ms ease-in-out;
    border-radius: 10px;
}
.active{
    background-color: hsl(34, 100%, 89%);
    padding: 6px 6px 6px 6px;
    transition: all 400ms ease-in-out;
    border-radius: 10px;
}
.search-box{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--nav-inp-c);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    height: 100%;
}
input{
    border: 0;
    background-color: var(--nav-inp-c);
    outline: none;
    width: 100px;
}
.navbar-3{
    display: flex;
    align-items: center;
    gap: 20px;
}
/* NAV-BAR COMPLETE */

.container{
    display: flex;
    padding: 20px 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left{
    flex-basis: 20%;
    align-self: flex-start;
}
.lside-content{
    padding-top: 0px;
    background-color: var(--lside-content);
    background-image: url(img/banner.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px var(--nav-sha-c);
}

.profile-info{
padding: 35px 20px 15px 20px;

}
.img-container{
    padding: 18px 18px 14px 18px;
    border-radius: 50%;
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    border: 10px solid rgb(255, 255, 255);
    box-shadow: 0px 3px 15px var(--nav-sha-c);
    
}
.profile-info img{
    width: 40px;
    height: 40px;
    
}
.profile-info h1{
    color: var(--headings);
    font-size: 27px;
    font-weight: 600;
    padding-top: 10.5px;
    padding-bottom: 2px;
}
.profile-info h3{
    color: var(--subheadings);
    font-size: 17px;
    font-weight: 500;
}
.profile-info ul{
    
    margin: 10px 0px;
}
.profile-info ul li{

    width: 100%;
    margin: 15px 0;
    font-weight: 600;
    font-size: 16px;
}
.profile-info ul li span{
    float: right;
    color: rgb(217, 176, 255);
    font-size: 15px;
    font-weight: 600;
}
.sidebar_profile-p a .ongoing-p{
    display: flex;
    justify-content: center;
    gap: 45%;
    align-items: center;
}
.sidebar_profile-p a{
    padding: 20px;
}
.sidebar_profile-p a .ongoing-p p{
    font-size: 20px;
}
.sidebar_profile-p{
    transition: all 300ms ease-in-out;
    background-color: var(--lside-content);
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px var(--nav-sha-c);
    cursor: pointer;
}
.sidebar_profile-p:hover{
    background-color: var(--hover-bc);
    transition: all 350ms ease-in-out;
    border-radius: 10px;
}
.sidebar_profile-j a .ongoing-p{
    display: flex;
    justify-content: center;
    gap: 50%;
    align-items: center;
}
.sidebar_profile-j a{
    padding: 20px;
}
.sidebar_profile-j a .ongoing-p p{
    font-size: 20px;
}
.sidebar_profile-j{
    transition: all 300ms ease-in-out;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: var(--lside-content);
    box-shadow: 1px 1px 10px var(--nav-sha-c);
    cursor: pointer;
}
.sidebar_profile-j:hover{
    background-color: var(--hover-bc);
    transition: all 350ms ease-in-out;
    border-radius: 10px;
}

.lside-sub-content{
    background-color: var(--lside-content);
    border-radius: 15px;
    box-shadow: 1px 1px 10px var(--nav-sha-c);
    margin-bottom: 15px;
}
.lside-sub-content ul{
    padding: 15px;
}
.lside-sub-content ul li{
    margin: 13px;
    
}
.lside-sub-content ul li a{
    color: hsl(221, 95%, 74%);    
}
.lside-sub-content ul li a:hover{
    text-decoration: underline;  
    font-weight: 500;  
}
.discover{
    background-color: var(--lside-content);
    padding: 20px 25px 20px 0px ;
    text-align: center;
    color: var(--subheadings);
    border-radius: 15px;
    box-shadow: 1px 1px 10px var(--nav-sha-c);
    transition: all 350ms ease-in-out;
    cursor: pointer;
}

.discover a{
    height: 100%;
    width: 100%;
}
.discover:hover{
    background-color: var(--hover-bc);
    transition: all 350ms ease-in-out;
    border-radius: 10px;
    
}
.center{
    flex-basis: 55%; 
    height: max-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 15px 15px 15px;
    justify-content: center;
    align-items: center;
 
    
}
.Quickpost{
    display: flex;
    background-color: var(--lside-content);
    box-shadow: 1px 1px 15px var(--nav-sha-c);
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    gap: 3%;
    width: 100%;
}
.Quickpost-f{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;

}
.Quickpost-s{
    width: 55px;
    height: 55px;
    /* border-radius: 50%; */
    cursor: pointer;
}
.fa-regular,.fa-solid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
     cursor: pointer;
}


.fa-regular:hover,.fa-solid:hover{
    opacity: 0.7;
}
.Quickpost input{
    width: 60%;
    height: 45px;
    border-radius: 20px;
    background-color: var(--lside-content);
    padding-left: 20px;
    font-size: 16px;
    border: 2px solid black;
    transition: 200ms ease;
 
}
.Quickpost button{
    width: 10%;
    height: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
box-sizing: border-box;
    border-radius: 12px;
    border: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 20px;
    transition: all 300ms ease;
}
.Quickpost button:hover{
    background-color: #a0a0a0;
    transition: all 300ms ease;
}
.Quickpost button:active{
    background-color: var(--lside-content);
    border: #a0a0a0 5px solid;
    padding-top: 25px;
    padding-bottom: 25px;
}
.Quickpost input:hover{
    background-color: #e0e0e0;
    transition: 200ms ease;
}

.content{

    height: max-content;
    width: 100%;
    border-radius: 20px;
    /* box-shadow: 1px 1px 100px var(--nav-sha-c); */
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
}
.post-template{
    background-color: var(--lside-content);
    width: 100%;
    height: max-content;
    display: flex;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
    flex-direction: column;
}
.top{
    display: flex;
    gap: 15px;
    padding: 5px 10px 10px 10px;
   
}
.top img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;
   
}
.extras{
    width: 80%;
    background-color: transparent;
    
 
}
.extras li:nth-child(1){
font-size: 20px;
font-weight: 500;
letter-spacing: 1px;
color: var(--text);
}
.extras li:nth-child(2){
font-size: 15px;
font-weight: 500;
/* text-decoration: underline;
text-decoration-color: #9c9c9c; */
text-underline-offset: 2px;
color: var(su);
letter-spacing: 1px;

}
.extras li:nth-child(3){
    font-size: 15px;
    font-weight: 500;
    color: var(--text);
    display: flex;
    align-items: center;
 
}
.top #t-dots{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}
.top #follow{
    width: 10%;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 800;
    color: rgb(130, 130, 255);
    
}
.middle{
  padding-bottom: 10px;
}
.caption{
    color: var(--subheadings);
    padding: 0px 10px 10px 10px;
}
.Post-image{
    width: 100%;
    height: max-content;
    text-align: center;
}
.Post-image img{
    width: 95%;
    border-radius: 15px;
    max-height: 600px;
}
.bottom{
    padding: 0px 10px 0px 10px;
}
.bottom-counters{
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: var(--subheadings) 1px solid;
}
.counter-left{
    display: flex;
    justify-content: center;
    width: max-content;
    height: max-content;
    font-size: 25px;
    
}
.counter-left ,.fa-regular{
    margin: 0;
    
}
.bottom-buttons{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
.segments{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    i{
        display: flex;
    }
}













.right{
    flex-basis: 23%;
    align-self: flex-start;
}
.news h2{
    color: var(--headings);
    margin-bottom: 12px;
}
.news{
    background-color: var(--lside-content);
    padding: 20px;
    box-shadow: 1px 1px 15px var(--nav-sha-c);
    border-radius: 15px;
    margin-bottom: 15px;
}
.news a{
    font-size: 13px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    transition: all 300ms ease-in-out;
}
.news a img{
    margin-top: auto;
    margin-bottom: auto;
} 
.news a:hover{
    background-color: var(--hover-bc);
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
    border-radius: 15px;
} 
.stories{
    background-color: var(--lside-content);
    padding: 20px;
    box-shadow: 1px 1px 15px var(--nav-sha-c);
    border-radius: 15px;
    margin-bottom: 15px;
} 
.stories h3{
    padding-bottom: 20px;
}
.story{
    display: flex;
    gap: 30px;
    justify-content: center;
   
}
.story img{
    border-radius: 50%;
   background-image: radial-gradient(circle at center, #ecacffb4, var(--lside-content));
   padding: 4px;
   
    
}
.stories .pro-fil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}
.pro-fil p{
    font-size: 12px;
}
.stories .pro-fil:hover{
    transform: scale(1.2);
    transition: all 300ms ease-in-out;
}

.post-interface{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-color: #5c5c5ca1;
    position: absolute;
    z-index: 10;
    padding: 20px;
    display: none;
    padding-top: 100px;
    .post-close{
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        float: right;
        width: max-content;
        font-size: 20px;
        font-weight: 600;
        transition: all 300ms ease;
        cursor: pointer;
    }
    .post-close:hover{
        background-color: #5c5c5c;
        color: white;
    }
    .post-content{
        width: 100%;
        height: ma;
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.486);
        backdrop-filter: blur(20px);
        border-radius: 20px;
        padding: 24px;
        display: flex;
        justify-content: space-between;
        .post-img{
            width: 45%;
            border: #5e5e5e dashed;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            border-radius: 10px;
            position: relative;
            input{
                width: max-content;
                padding: 10px;
                border-radius: 10px;
                background-color: #2b2222a6;
                color: wheat;
                cursor: pointer;
                z-index: 10;
               
            }
            .preview{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 0;
                img{
                  object-fit: cover;
                }
              
            }
        }
        .post-details{
            width: 50%;
          
            input{
                width: 100%;
               
                margin-bottom: 20px;
                background-color: #5c5c5c67;
                border-radius: 12px;
                height: 30px;
                padding: 10px;
            }
            select{
                padding: 10px 20px;
                border-radius: 12px;
                margin-top: 10px;
                margin-bottom: 20px;
                background-color: #5c5c5c67;
                color: black;
                display: block;
            }
            label{
                margin-bottom: 10px;
                display: block;
            }
            textarea{
                width: 100%;
                height: 300px;
                border-radius: 12px;
                padding: 10px;
                background-color: #5c5c5c67;
                color: black;
                margin-bottom: 10px;
            }
            button{
                float: right;
                font-size: 20px;
                width: 100px;
                font-weight: 600;
                padding: 10px 10px;
                border-radius: 15px;
                background-color: hsl(189, 100%, 87%);
                border: 2px solid black;

                i{
                    width: max-content;
                    height: max-content;
                }
            }
        }
    }
}

.post-interface::-webkit-scrollbar {
    width: 0px;
}
.on_scroll{
    width: max-content;
    top: 10px;
    left: 10px;
    transition: all 500ms ease;
    border-radius: 20px;
}