@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');







*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


#preloader{
    background-color: aliceblue;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
}
.loading-box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);

}
.loading-box:nth-child(1){
    animation: loading1 1s ease-out 1 500ms ;
    animation-fill-mode: forwards;
 
}
.loading-box:nth-child(2){
    animation: loading2 1s ease-out 1 1500ms;
    animation-fill-mode: forwards;
}
.loading-box:nth-child(3){
    animation: loading3 1s ease-out 1  2500ms;
    animation-fill-mode: forwards;
}
@keyframes loading1 {
    
    to{
        background-color: hsl(0, 100%, 71%);
    }
}
@keyframes loading2 {
    
    to{
        background-color: hsl(39, 100%, 67%);
    }
}
@keyframes loading3 {
    
    to{
        background-color: hsl(123, 100%, 71%);
    }
}

body{
    background-color: rgb(211, 234, 255);
    position: relative;
    height: 100%;
}


h1{
    font-size: 40px;
    color: rgb(3, 0, 78);
    position: relative;
    display: inline-block;
    height: max-content;
}
h1::before{
    content: "";
    background-color: rgb(3, 0, 78);
    position: absolute;
    width: 10px;
    height: 100%;
    left: -20px;
}
.mainbar{
    padding-top: 3vh;
    height: 10vh;
    display: flex;
    gap: 75%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.mainbar img{
    width: 50px;
    
}
.search-box{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#search{

    width: 90%;
    height: 50px;
    border-radius: 15px;
    font-size: larger;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px black solid;
}
.grid-wrapper{
 
    padding: 1rem;
    display: grid;
    gap: 1rem;
    background-color: rgba(245, 222, 179, 0);
    grid-template-columns: repeat(3,1fr);
}
.job-cards{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.103);
    height: 500px;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}
.card-content{
    background-color: rgba(250, 235, 215, 0);
    width: 100%;
    padding: 10px;
    height: 90%;
}
.job-cards button{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 10%;
    border-radius: 15px;
    border: 2px black solid;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    transition: 400ms ease;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
}
.card-content h3{
    color: rgb(64, 165, 89);
    font-size: 20px;
}
.card-content h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.card-content p{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: justify;
}
.content-image-box img{
    width: 100px;
}
.content-image-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    
}

.Apply{
    width: 100%;
    z-index: 10;
    border-radius: 15px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    padding: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0px -10px 30px 20px white;
}
#apply1{
    background-color: rgba(255, 255, 255, 0.219); 
   
}
#apply2{
    background-color: rgba(255, 0, 0, 0.281); 
}
#apply3{
    background-color: rgba(138, 138, 138, 0.281); 
}

.apply-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(165, 42, 42, 0);
    margin-bottom: 50px;
}
.Apply h3{
    font-size: 60px;
    display: inline;
    

}
.apply-head i{
    font-size: 50px;
    cursor: pointer;
    padding: 7px;
    transition: all ease 300ms;
}
.apply-head i:hover{
    background-color: rgba(128, 128, 128, 0.233);
    border-radius: 15px;
}
.apply-content{
    width: 100%;
    background-color: rgba(0, 255, 255, 0);

 
}
.apply-content h4{
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
 
}
.skills{
  
    font-size: 40px;
    margin-bottom: 50px;
    padding: 0px 25px 0px 25px;

}
.skills > *::before{
    content: "•";
    position: absolute;
    left: -25px;
    font-size: 40px;
    font-weight: 600;
    top: 0px;
}
.skills >*{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.Jobs{
    width: 100%;
    
}
.Jobs-content{
    background-color: rgba(255, 255, 255, 0.767);
    display: flex;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.253);
    margin-bottom: 30px;
}
.job-img{
flex-basis: 10%;
text-align: center;
}
.job-img img{
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.253);
}
.job-text{
flex-basis: 80%;
}
.job-text h4{
    margin: 0px;
    text-decoration: none;
    margin-bottom: 1px;
}
.job-text p{
    margin-bottom: 2px;
}
.job-company{
    font-weight: 500;
}
.apply-btn{
    display: flex;
    align-items: center;
    justify-content: center;
flex-basis: 10%;
}
.apply-btn button{
    margin: 0px;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    border-radius: 15px;
    background-color: rgb(144, 255, 168);
}
.skills > div > div {
    font-weight: 600;
}
.skills > div > p {
    font-weight: 600;

}

